<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <%- include('navbar') %>
    <h1>ODIN | File Manager App</h1>
    <% if (locals.path) { %>
    <p>
        <% for(let i=0; i<local.path.length; i++) { %>
            <a href="<%= local.path[i].id %>"><%= local.path[i].name %></a> /
        <% } %>
    </p>
    <% } %>
    <h2>Folders: </h2>
    <ul>
        <% for(let i=0; i<folder.length; i++) { %>
            <li><a href="<%= folder[i].id %>"><%= folder[i].name %></a></li>
        <% } %>
    </ul>
    <h2>Files: </h2>
    <ul>
        <% for(let i=0; i<files.length; i++) { %>
            <li><a href="<%= files[i].id %>"><%= files[i].file_path %></a></li>
        <% } %>
    </ul>
</body>
</html>