<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <%- include('navbar') %>
    <h1>ODIN | File Manager App</h1>
    <% if (path) { %>
    <p>
        <a href="/">Home</a> /
        <% for(let i=path.length-1; i>=0; i--) { %>
            <a href="<%= path[i].id %>"><%= path[i].name %></a> /
        <% } %>
    </p>
    <% } %>
    <h2>Folders: </h2>
    <ul>
        <% for(let i=0; i<folder.length; i++) { %>
            <li>
                <a href="<%= folder[i].id %>"><%= folder[i].name %></a>
                <a href="<%= folder[i].id %>/edit-folder?parentId=<%= locals.currentPath %>&folderName=<%= folder[i].name %>">Edit</a>
                <a href="<%= folder[i].id %>/delete?parentId=<%= locals.currentPath %>">Delete</a>
            </li>
        <% } %>
    </ul>
    <h2>Files: </h2>
    <ul>
        <% for(let i=0; i<files.length; i++) { %>
            <li><a href="download-file?filePath=<%= root + '/' + files[i].file_path %>"><%= files[i].name %></a></li>
        <% } %>
    </ul>
</body>
</html>